@page "/"

<PageTitle>Index</PageTitle>

<h1>Herzlich Willkommen bei dem Schulungsportal der Schalk Maschinen GmbH!</h1>

<AuthorizeView Roles="Task.Create">
    <Authorized>
        <div>
            <p>Als Organisator können Sie hier neue Veranstaltungen erstellen und Teilnehmerzahlen ansehen.</p>
        </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Task.Apply">
    <Authorized>
        <div>
            <p>Als Teilnehmer können Sie hier Veranstaltungen buchen und ansehen.</p>
        </div>
    </Authorized>
</AuthorizeView>
