@page "/"
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<link href="css/ownStlyes.css" rel="stylesheet" />

<section class="events-section">
    <h3>Herzlich Willkommen bei dem Schulungsportal der Schalk Maschinen GmbH!</h3>

    <AuthorizeView Roles="Task.Create, Task.Apply">
        <Authorized>
            @{
                if (context.User.IsInRole("Task.Create")){
                    <div>
                        <p>Als Organisator können Sie hier neue Veranstaltungen erstellen und Teilnehmerzahlen ansehen.</p>
                    </div>
                }
                else
                {
                    <div>
                        <p>Als Teilnehmer können Sie hier Veranstaltungen buchen und ansehen.</p>
                    </div>
                }
            }
        </Authorized>
        <NotAuthorized>
            <div>
                <p>
                    Es werden keine zusätzlichen Tabs angezeigt, da Sie entweder über keine Rolle oder die falsche Rolle verfügen.
                    Bitte nehmen Sie umgehend Kontakt mit Ihrer IT-Abteilung auf, um die entsprechende Rolle zu erhalten. Nur so können Sie mit diesem Schulungsportal interagieren.
                </p>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</section>
