@page "/checkevents"
@attribute [Authorize(Roles = "Task.Create")]
@using fullstack.Typen
@using fullstack.Services
@inject EventService EventService

<PageTitle>CheckEvents</PageTitle>

<link href="css/ownStlyes.css" rel="stylesheet" />

<section class="events-section">
    <section class="searchbar-section">
        <input type="text" class="search-input" placeholder="Veranstaltung suchen..." @bind="searchTerm" />
        <button class="btn btn-primary" @onclick="FilterEvents">Suchen</button>
    </section>

    @foreach (var evt in filteredEvents)
    {
        <section class="event-wrapper">
            <div class="header-section">
                <span class="event-name">@evt.Name</span>
                <div class="right-header-section">
                    <span>@evt.Date</span>
                    <span>@evt.Time</span>
                </div>
            </div>
            <div>
                <span>Teilnehmer:</span>
                <ul>
                    @foreach (var participant in evt.Participants)
                    {
                        <li>@participant</li>
                    }
                </ul>
            </div>
        </section>
    }
</section>

@code {
    private List<Event> events = new List<Event>();
    private List<Event> filteredEvents = new List<Event>();
    private string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await EventService.GetAllEvents();
            events = result.ToList();
            filteredEvents = events;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void FilterEvents()
    {
        if (string.IsNullOrEmpty(searchTerm))
        {
            // Wenn der Suchbegriff leer ist, zeige alle Veranstaltungen an
            filteredEvents = events;
        }
        else
        {
            // Ansonsten filtere die Veranstaltungen nach dem Suchbegriff
            filteredEvents = events.Where(e => e.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}